{% extends 'recipes/base.html' %}

{% block content %}
<h2 class="mb-4">Вход</h2>
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="username" class="form-label">Имя пользователя</label>
        <input type="text" name="username" id="username" class="form-control">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Пароль</label>
        <input type="password" name="password" id="password" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Войти</button>
</form>
<a href="{% url 'register' %}" class="btn btn-secondary mt-3">Зарегистрироваться</a>
{% endblock %}
